include AUTHORS
include LICENSE
include README.rst
include CHANGELOG.txt
recursive-include validate_email *
prune tests
recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig
