include AUTHORS
include LICENSE
include README.rst
recursive-include validate_email *
prune tests
recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig
